<%
  const getName = (key) => {
    return key
      .replace(/([A-Z])/g, ' $1')
      .replace(/^./, (str) => str.toUpperCase())
      .replace(/\sN\s/g, ' & ')
  }
  const getResult = (form, formParameter, key, colspan = 2) => {
    const value = form.values[key]
    if (value == undefined) {
      return `<td colspan=${colspan} class='ft8'></td>`
    }
    if (typeof value == 'boolean') {
      if (value) {
        return `<td colspan=${colspan} class='color-green ft8'>${formParameter.displayTrue}</td>`
      } else {
        return `<td colspan=${colspan} class='color-red ft8'>${formParameter.displayFalse}</td>`
      }
    } else if (key.includes('InLampiran')) {
      if (value.includes('.jpg') || value.includes('.png') || value.includes('.jpeg') || value.includes('.svg') || value.includes('.gif')) {
        return `<td colspan=${colspan}><img src='${value}' alt='image' style='width: 250px' onerror="this.onerror=null;this.src='${getAsset('img/no-image.png')}'" /></td>`
      } else {
        return `<td colspan=${colspan} class='ft8'><a href='${value}'>Lampiran</a></td>`
      }
    } else if (value == null) {
      return `<td colspan=${colspan} class='ft8'></td>`
    } else {
      if (value == 'A') {
        return `<td colspan=${colspan} class='ft8 color-green'>${value}</td>`
      } else if (value == 'B') {
        return `<td colspan=${colspan} class='ft8 color-yellow'>${value}</td>`
      } else if (value == 'C') {
        return `<td colspan=${colspan} class='ft8 color-red'>${value}</td>`
      } else {
        return `<td colspan=${colspan} class='ft8'>${value}</td>`
      }
    }
  }
  const generateTable = (data) => {
    const formParameters = data.formDetails.formParameters
    const formVersion = data.formDetails.formVersion
    let result = `<tr><td colspan=18 class="text-center ft10 bold color-gray2" style="width: 1400px;">${data.title}${formVersion.version != undefined ? ` (versi ${formVersion.version})`:''}</td></tr>`
    result += '<tr><td class="bold ft9 text-center">No.</td><td colspan=4 class="bold ft9 text-center">Parameter Check</td><td colspan=2 class="bold ft9 text-center">Standard</td><td colspan=2 class="bold ft9 text-center">Result</td><td class="bold ft9 text-center">No.</td><td colspan=4 class="bold ft9 text-center">Parameter Check</td><td colspan=2 class="bold ft9 text-center">Standard</td><td colspan=2 class="bold ft9 text-center">Result</td></tr>'
    if (formParameters.length > 0) {
      const length = Math.ceil(formParameters.length / 2)
      for (let i = 0; i < length; i++) {
        if (formParameters.length % 2 == 1) {
          if (i + 1 == length) {
            result += `<tr><td class="ft8 text-center" style="width: 37px;">${i + 1}</td><td colspan=4 class="ft8">${getName(formParameters[i].parameter)}</td><td colspan=2 class="ft8">${formParameters[i].standart}</td>`
            result += `${getResult(data.data, formParameters[i], formParameters[i].parameter)}` // result
            result += `<td class="ft8"></td><td colspan=4 class="ft8"></td><td colspan=2 class="ft8"></td>`
            result += `<td colspan=2 class="ft8"></td></tr>` // result
          } else {
            result += `<tr><td class="ft8 text-center" style="width: 37px;">${i + 1}</td><td colspan=4 class="ft8">${getName(formParameters[i].parameter)}</td><td colspan=2 class="ft8">${formParameters[i].standart}</td>`
            result += `${getResult(data.data, formParameters[i], formParameters[i].parameter)}` // result
            result += `<td class="ft8 text-center" style="width: 37px;">${i + 1 + length}</td><td colspan=4 class="ft8">${getName(formParameters[i + length].parameter)}</td><td colspan=2 class="ft8">${formParameters[i + length].standart}</td>`
            result += `${getResult(data.data, formParameters[i + length], formParameters[i + length].parameter)}</td></tr>` // result
          }
        } else {
          result += `<tr><td class="ft8 text-center" style="width: 37px;">${i + 1}</td><td colspan=4 class="ft8">${getName(formParameters[i].parameter)}</td><td colspan=2 class="ft8">${formParameters[i].standart}</td>`
          result += `${getResult(data.data, formParameters[i], formParameters[i].parameter)}` // result
          result += `<td class="ft8 text-center" style="width: 37px;">${i + 1 + length}</td><td colspan=4 class="ft8">${getName(formParameters[i + length].parameter)}</td><td colspan=2 class="ft8">${formParameters[i + length].standart}</td>`
          result += `${getResult(data.data, formParameters[i + length], formParameters[i + length].parameter)}</tr>` // result
        }
      }
    } else {
      result += '<tr style="height: 20px"><td class="bold ft9 text-center"></td><td colspan=4 class="bold ft9 text-center"></td><td colspan=2 class="bold ft9 text-center"></td><td colspan=2 class="bold ft9 text-center"></td><td class="bold ft9 text-center"></td><td colspan=4 class="bold ft9 text-center"></td><td colspan=2 class="bold ft9 text-center"></td><td colspan=2 class="bold ft9 text-center"></td></tr>'
    }
    return result
  }
  const getAsset = (file) => {
    const BASE_URL = `${process.env.BASE_URL}/${file}`
    return BASE_URL
  }
  const writeValidator = (data, type) => {
    let result = ''
    result += `<tr><td colspan=18 class="text-center ft10 bold color-gray2" style="width: 1400px;">Input Data</td></tr>
              <tr><td colspan=9 class="text-center ft8" style="width: 1400px;">Operator ${type}</td>
              <td colspan=9 class="text-center ft8" style="width: 1400px;">Jam Input</td>
              </tr>
              <tr>
              <td colspan=9 class="text-center ft8 fgcolor-blue" style="width: 1400px; white-space: pre-line;">${data.operator_validator[type].operator.name}</td>
              <td colspan=9 class="text-center ft8 fgcolor-blue" style="width: 1400px;">${data.operator_validator[type].operator.time}</td>
              </tr>
              <tr><td colspan=18 class="text-center ft10 bold color-gray2" style="width: 1400px;">VERIFICATION</td></tr>
              <tr style="height: 20px;"><td colspan=5 rowspan=2 class="ft8 fgcolor-blue" style="width: 1400px; white-space: pre-line;">- Frekuensi Pengisian : Setiap awal produksi/PO produk baru\n' +
              - Isi bagian Clearance dengan OK (v) atau NOT OK (x), diisi oleh OPERATOR masing masing bagian\n
              - Isi bagian Checking dengan parameter yang dibutuhkan</td>
              <td colspan=4 class="text-center ft8 fgcolor-blue" style="width: 1400px;">Team Leader</td>
              <td colspan=5 class="text-center ft8 fgcolor-blue" style="width: 1400px;">Line Control</td>
              <td colspan=4 class="text-center ft8 fgcolor-blue" style="width: 1400px;">Supervisor</td>
              </tr>
              <tr>
              <td colspan=4 class="text-center ft8 fgcolor-blue" style="width: 1400px; white-space: pre-line;">${data.operator_validator[type].validator.TEAM_LEADER}</td>
              <td colspan=5 class="text-center ft8 fgcolor-blue" style="width: 1400px; white-space: pre-line;">${data.operator_validator[type].validator.LINE_CONTROL}</td>
              <td colspan=4 class="text-center ft8 fgcolor-blue" style="width: 1400px; white-space: pre-line;">${data.operator_validator[type].validator.SUPERVISOR}</td>
              </tr>`
    return result
  }
%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Report</title>
    <link rel="stylesheet" href="<%- getAsset('css/bootstrap.min.css') %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <style type="text/css">
      /* @page {
        size: 210mm 297mm;
        margin: 5mm 5mm 5mm 5mm;
      } */
      * {
        font-family: 'Roboto', sans-serif;
      }
      .table-borderless > tbody > tr > td,
      .table-borderless > tbody > tr > th,
      .table-borderless > tfoot > tr > td,
      .table-borderless > tfoot > tr > th,
      .table-borderless > thead > tr > td,
      .table-borderless > thead > tr > th {
        border: none;
      }
      @media all {
        /* @page {
          size: 210mm 297mm;
          margin: 5mm 5mm 5mm 5mm;
        } */
        * {
          font-family: 'Roboto', sans-serif;
        }
        table {
          page-break-after: auto;
          border: 1px solid black;
        }
        tr {
          page-break-inside: auto;
          page-break-after: auto;
        }
        td {
          border: 1px solid black;
          page-break-inside: auto;
          page-break-after: auto;
          padding: 2px;
        }
        div {
          page-break-inside: auto;
          page-break-after: auto;
        }
        thead {
          display: table-header-group;
        }
        tfoot {
          display: table-footer-group;
        }
        .table-borderless tbody + tbody,
        .table-borderless td,
        .table-borderless th,
        .table-borderless thead th {
          border: 0 !important;
        }
        .color-gray1 {
          background-color: #999999 !important;
        }
        .color-gray2 {
          background-color: #D9D9D9 !important;
        }
        .color-red {
          background-color: #F4CCCC !important;
        }
        .color-green {
          background-color: #D9EAD3 !important;
        }
        .color-yellow {
          background-color: #FCE5CD !important;
        }
        .fgcolor-blue {
          color: #52D5FC !important;
        }
        .bold {
          font-weight: bold;
        }
        .ft11 {
          font-size: 11pt;
        }
        .ft10 {
          font-size: 10pt;
        }
        .ft9 {
          font-size: 9pt;
        }
        .ft8 {
          font-size: 8pt;
        }
        .page {
          page-break-before: always;
          padding-top: 20px;
        }
      }
    </style>
  </head>
  <body style="margin-top: 15px;">
    <div class="container-fluid">
      <%# CLEARANCE %>
      <div class="row">
        <div class="col-xs-2">
          <img src="<%= getAsset('logo/logo.png') %>" style="width: 120px; margin-left: 54px" />
        </div>
        <div class="col-xs-10">
          <table>
            <tr><td colspan="6">Form</td></tr>
            <tr><td colspan="6">CHECKLIST CONDITION MACHINE LINE BLENDING</td></tr>
            <tr><td colspan="6">KONDISI OPERASI MESIN LINE BIB (SIM 1)</td></tr>
            <tr><td style="width: 100px">No. Form</td><td style="width: 278px">Cir. Clearance 01</td><td style="width: 100px">Version</td><td style="width: 278px"></td><td style="width: 100px">Start date/time</td><td style="width: 278px"><%= pro.StartedAtFormatted %></td></tr>
            <tr><td style="width: 100px">Site</td><td style="width: 278px">3-Ciracas Factory</td><td style="width: 100px">Line</td><td style="width: 278px"><%= pro.Line.name %></td><td style="width: 100px">End date/time</td><td style="width: 278px"><%- moment(pro.updatedAt).format('HH:mm:SS, DD MMM YYYY') %></td></tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table>
            <tr>
              <td class='color-gray1 text-center bold ft10' style="width: 140px">Nama Produk</td>
              <td style="width: 560px" class="ft10"><%= pro.Product.name %></td>
              <td style="width: 140px" class='color-gray1 text-center bold ft10'>PrO Sebelumnya</td>
              <td style="width: 560px" class="ft10"></td>
            </tr>
            <tr>
              <td class='color-gray1 bold text-center ft10' style="width: 140px">No. PrO</td>
              <td style="width: 560px" class="ft10"><%= pro.productionNumber %></td>
              <td style="width: 140px" class='color-gray1 bold text-center ft10'>Mesin</td>
              <td style="width: 560px" class="ft10"></td>
            </tr>
            <tr>
              <td class='color-gray1 bold text-center ft10' style="width: 140px;">No. Batch</td>
              <td style="width: 560px" class="ft10"><%= pro.batchNumber %></td>
              <td style="width: 140px" class='color-gray1 bold text-center ft10'></td>
              <td style="width: 560px" class="ft10"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" style="margin-top: 30px">
        <div class="col-xs-12">
          <table>
            <tr>
              <td colspan=18 class="text-center ft11 bold color-gray1" style="width: 1400px;">CLEARANCE PRO PRODUK SEBELUMNYA</td>
            </tr>
            <%- generateTable(data.blending.CLEARANCE) %>
            <%- writeValidator(data.blending, 'CLEARANCE') %>
          </table>
        </div>
      </div>
      <%# MONITORING %>
      <div class="row page">
        <div class="col-xs-2">
          <img src="<%= getAsset('logo/logo.png') %>" style="width: 120px; margin-left: 54px" />
        </div>
        <div class="col-xs-10">
          <table>
            <tr><td colspan="6">Form</td></tr>
            <tr><td colspan="6">CHECKLIST CONDITION MACHINE LINE BLENDING</td></tr>
            <tr><td colspan="6">KONDISI OPERASI MESIN LINE BIB (SIM 1)</td></tr>
            <tr><td style="width: 100px">No. Form</td><td style="width: 278px"></td><td style="width: 100px">Version</td><td style="width: 278px"></td><td style="width: 100px">Start date/time</td><td style="width: 278px"><%= pro.StartedAtFormatted %></td></tr>
            <tr><td style="width: 100px">Site</td><td style="width: 278px">3-Ciracas Factory</td><td style="width: 100px">Line</td><td style="width: 278px"><%= pro.Line.name %></td><td style="width: 100px">End date/time</td><td style="width: 278px"><%- moment(pro.updatedAt).format('HH:mm:SS, DD MMM YYYY') %></td></tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table>
            <tr>
              <td class='color-gray1 text-center bold ft10' style="width: 140px">Nama Produk</td>
              <td style="width: 560px" class="ft10"><%= pro.Product.name %></td>
              <td style="width: 140px" class='color-gray1 text-center bold ft10'>PrO Sebelumnya</td>
              <td style="width: 560px" class="ft10"></td>
            </tr>
            <tr>
              <td class='color-gray1 bold text-center ft10' style="width: 140px">No. PrO</td>
              <td style="width: 560px" class="ft10"><%= pro.productionNumber %></td>
              <td style="width: 140px" class='color-gray1 bold text-center ft10'>Mesin</td>
              <td style="width: 560px" class="ft10"></td>
            </tr>
            <tr>
              <td class='color-gray1 bold text-center ft10' style="width: 140px; color: red;">No. Batch</td>
              <td style="width: 560px" class="ft10"><%= pro.batchNumber %></td>
              <td style="width: 140px" class='color-gray1 bold text-center ft10'></td>
              <td style="width: 560px" class="ft10"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" style="margin-top: 30px">
        <div class="col-xs-12">
          <table>
            <tr>
              <td colspan=18 class="text-center ft11 bold color-gray1" style="width: 1400px;">MONITORING KONDISI PRODUKSI</td>
            </tr>
            <%for(const dataMonitoring of data.blending.MONITORINGS){ %>
              <%- generateTable(dataMonitoring) %>
              <%- writeValidator(data.blending, 'MONITORING') %>
            <%} %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
